/* Navbar.js */

.navBar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}


/* GameWindow.js */

.chessBoard {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(8, 10vmin);
  grid-template-rows: repeat(8, 10vmin);
}

.square {
  display: grid;
  place-content: center;
  border: 1px solid;
  user-select: none;
  background-color: red;
}

.square:focus {
  background-color: rgb(241, 142, 142);
}

.light {
  background-color: #e8edf9;
}

.dark {
  background-color: #b7c0d8;
}

.chessPiece {
  width: 97%;
  height: 97%;
}

.players {
  display: flex;
  gap: 30%;
  justify-content: center;
  padding-top: 20px;
}

.players > span {
  font-size: large;
  font-weight: 600;
}